{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Reset Password{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" required>
    <label for="email">Email</label>
    <input name="email" id="email" required>
    {% if not initiate_reset %}
    <label for="new-password">New Password</label>
    <input type="password" name="new-password" id="new-password" required>
    <label for="new-password-2">Re-Enter New Password</label>
    <input type="password" name="new-password-2" id="new-password-2" required>
    <input type="submit" value="Reset Password">
    {% else %}
    <input type="submit" value="Send Reset Link">
    {% endif %}
</form>
{% endblock %}
