{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Activity{% endblock %}</h1>
<link href="{{ root_url + url_for('blog.feed') }}" rel="alternate" title="Panchayat RSS" type="application/atom+xml">
{% endblock %}

{% block content %}
{% for post in posts.reverse_chrono() %}
{{ renderpost(post, indented=False, referrer="blog.activity") }}
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}
