{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Posts{% endblock %}</h1>
{% if g.user %}
<a class="action" href="{{ url_for('blog.reply_url') }}">New</a>
{% endif %}
<link href="{{ root_url + url_for('blog.feed') }}" rel="alternate" title="Panchayat RSS" type="application/atom+xml">
{% endblock %}

{% block content %}
{% for post in posts.zig_zag() %}
{% if post.depth == 0 %}
<hr style="border:1px solid;">
{% endif %}
{{ renderpost(post=post, indented=True) }}
{% if not loop.last %}
<hr>
{% endif %}
{% endfor %}
{% endblock %}
