{% macro renderpost(post, indented=False, referrer="blog.index") -%}
<article id="{{ post.post_id }}" class="post" style="margin-left:{{30*post.depth if indented else 0}}px;">
    <header>
        <div>
            {% if post.depth == 0 or post.is_url() %}
            <h1>
                {% if post.is_url() %}
                    <a href="{{ post.body }}">{{ post.title }}</a>
                {% else %}
                    {{ post.title }}
                {% endif %}
            </h1>
            {% endif %}
            <div class="about">
                <a class="up{{ g.user in post.upvotes }}" href="{{ url_for('blog.upvote', post_id=post.post_id, referrer=referrer) }}" title="{{ post.upvote_string() }}"></a>
                {{post.vote_count}}
                <a class="down{{ g.user in post.downvotes }}" href="{{ url_for('blog.downvote', post_id=post.post_id, referrer=referrer) }}" title="{{ post.downvote_string() }}"></a>
                &nbsp;<a href="user/{{ post.author.username }}">{{ post.author.username }}</a>&nbsp;{{ "posted" if post.is_tlp() else "commented"}} on&nbsp;
		            <a href="{{ url_for('blog.index') }}#{{ post.post_id }}" title="{{ post.created.ctime() }}">{{ post.created.strftime('%Y-%m-%d') }}</a>
            </div>
        </div>
        {% if g.user %}
        <a class="action" href="{{ url_for('blog.reply_text', parent=post.post_id, referrer=referrer) }}">Reply</a>
        {% endif %}
        {% if g.user == post.author %}
        <a class="action" href="{{ url_for('blog.update', post_id=post.post_id, referrer=referrer) }}">Edit</a>
        {% endif %}
    </header>
    {% if not post.is_url() %}
        <p class="body">{{ post.body }}</p>
    {% endif %}
</article>
{%- endmacro %}
