{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}User{% endblock %}</h1>
{% endblock %}

{% block content %}
{% if settings %}
<hr>
<h3>User Settings</h3>
<form method="post">
    <label for="username">Username</label>
    <input name="username" id="username"
           value="{{ request.form['username'] or g.user.username }}" required>
    <label for="entered-password">Current Password</label>
    <input type="password" name="entered-password" id="entered-password" required>
    <label for="email">Email</label>
    <input name="email" id="email" value="{{ g.user.email }}">
    <label for="new-password">New Password</label>
    <input type="password" name="new-password" id="new-password">
    <label for="new-password-2">Re-Enter New Password</label>
    <input type="password" name="new-password-2" id="new-password-2">
    <div>
    <input type="checkbox" id="email-updates" name="email-updates"{{" checked" if g.user.email_updates else ''}}>
    <label for="email-updates">Email me when someone posts/comments</label>
    </div>
    <input class="danger" type="submit" value="Update" onclick="return confirm('Confirm user update');">
</form>
<form action="{{ url_for('user.delete', referrer=request.args.get('referrer')) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Confirm removal from Panchayat ?');">
</form>
<div>Token: {{ g.user.token }}</div>
<form action="{{ url_for('user.token', action='generate') }}" method="post">
  <input type="submit" value="Generate">
</form>
<form action="{{ url_for('user.token', action='destroy') }}" method="post">
  <input type="submit" value="Destroy">
</form>
{% endif %}
<hr>
<h3>User Activity Stats</h3>
<ul>
  <li>Posts: {{posts.tlp_count(g.user)}} </li>
  <li>Comments: {{posts.comment_count(g.user)}}</li>
  <li>Upvotes: {{posts.upvote_count(g.user)}}</li>
  <li>Downvotes: {{posts.downvote_count(g.user)}}</li>
{% endblock %}
