html { font-family: 'Helvetica, Arial', sans-serif; background: #eee; padding: 1rem; }
body { max-width: 960px; margin: 0 auto; background: #eee; }
h1 { font-family: 'Inconsolata', monospace; color: #4F8AF3; margin: 1rem 0; }
a { color: #4F8AF3; text-decoration: none;}
hr { border: none; border-top: 1px solid lightgray; }
nav { background: lightgray; display: flex; align-items: center; padding: 0 0.5rem; }
nav h1 { flex: auto; margin: 0; }
nav a { text-decoration: none; padding: 0.25rem 0.5rem; color: #90CB5F; }
nav ul  { display: flex; list-style: none; margin: 0; padding: 0; }
nav ul li a, nav ul li span, header .action { display: block; padding: 0.5rem; }
.content { padding: 0 1rem 1rem; }
.content > header { border-bottom: 1px solid lightgray; display: flex; align-items: flex-end; }
.content > header h1 { flex: auto; margin: 1rem 0 0.25rem 0; }
.flash { margin: 1em 0; padding: 1em; background: #cae6f6; border: 1px solid #377ba8; }
.post > header { display: flex; align-items: flex-end; font-size: 0.85em; }
.post > header > div:first-of-type { flex: auto; }
.post > header h1 { font-size: 1.5em; margin-bottom: 0; }
.post .about { color: slategray; font-style: italic; display: flex;}
.post .body { white-space: pre-line; word-wrap: break-word; }
.content:last-child { margin-bottom: 0; }
.content form { margin: 1em 0; display: flex; flex-direction: column; }
.content label { font-weight: bold; margin-bottom: 0.5em; }
.content input, .content textarea { margin-bottom: 1em; min-height: 2em; border-color: #4F8AF3; }
.content textarea { min-height: 12em; resize: vertical; }
input.danger { color: #cc2f2e; }
input[type=submit] { align-self: start; min-width: 10em; min-height: 3em; background-color: #4F8AF3; border-radius: 12px; color: #eee;}
.upFalse { background-image: url(sprite.png);
           background-position: 0px -1676px;
           height: 14px;
           width: 15px;
	 }
.upTrue { background-image: url(sprite.png);
          background-position: -21px -1676px;
          height: 14px;
          width: 15px;
        }
.downFalse { background-image: url(sprite.png);
             background-position: -86px -1654px;
             height: 14px;
             width: 15px;
           }
.downTrue { background-image: url(sprite.png);
            background-position: -107px -1654px;
            height: 14px;
            width: 15px;
          }
th {
    text-align: left;
}
