<!doctype html>
{% from 'blog/post.html' import renderpost %}
<title>{% block title %}{% endblock %} - Panchayat</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<link rel="icon" type="image/png" href="{{ url_for('static', filename='banyan-tree_32x32.png') }}" sizes="32x32" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='banyan-tree_16x16.png') }}" sizes="16x16" />
<link rel="icon" type="image/png" href="{{ url_for('static', filename='banyan-tree_128x128.png') }}" sizes="128x128" />
<nav>
  <h1><img src="{{url_for('static', filename='banyan-tree_32x32.png')}}" alt="Panchayat"><a href="{{ url_for('blog.index') }}">Panchayat</a></h1>
    <ul>
      <li><h4><a href="{{ url_for('blog.index') }}">Posts</a></h4></li>
      <li><h4><a href="{{ url_for('blog.activity') }}">Activity</a></h4></li>
      <li><h4><a href="{{ url_for('blog.search') }}">Search</a></h4></li>
    </ul>
    <ul>
        {% if g.user %}
            <li><a href="{{ url_for('user.index') }}">{{ g.user['username'] }}</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Log Out</a></li>
        {% endif %}
    </ul>
</nav>
<section class="content">
    <header>
        {% block header %}{% endblock %}
    </header>
    {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
    {% endfor %}
    {% block content %}{% endblock %}
</section>
